{% extends "layout.html"%}
    {% import "_macros.html" as datos_macro%}
    {% block container %}
    <h1>operas bas</h1>

    <form action="" method="post">
        {{ datos_macro.datos('numero1','ingrese el numero 1') }}
        {{ datos_macro.datos('numero2','ingrese el numero 2') }}

        <div class="mb-3">
            <label for="opcion" class="form-label">Operacion</label>
            <select class="form-select" name="opcion" id="opcion">
                <option value="suma">suma</option>
                <option value="resta">Resta</option>
                <option value="multiplicacion">Multiplicacion</option>
                <option value="division">division</option>
            </select> 
        </div>
        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>
    <h1>La operacion de {{numero1}} y {{numero2}} = {{res}}</h1>
    
    {%endblock%}
