{% extends "layout.html" %}
    {% import "_macros.html" as datos_macro %}
    {% block container %}
    <h1>Calcular Distancia entre dos puntos</h1>

    <form action="" method="post">
        {{ datos_macro.datos('x1','Ingrese X1','number') }}
        {{ datos_macro.datos('y1','Ingrese Y1','number') }}
        {{ datos_macro.datos('x2','Ingrese X2','number') }}
        {{ datos_macro.datos('y2','Ingrese Y2','number') }}
        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>


    <h3>La distancia entre ({{x1}}, {{y1}}) y ({{x2}}, {{y2}}) es: {{distancia}}</h3>

{% endblock %}
